
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins');

        html {
  background-color: #e7e7e7;
  background: linear-gradient(200deg, rgb(68,148,232) 100%, rgb(51, 110, 178) 100%);
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
    font-size:16px;
}
    </style>

</head>

<body>
    <div class="container" style="margin-top:50px; margin-left:50px">
        <h2>You have been logged out</h2>
        <a href="{% url 'login' %}" class="login-button">Login</a>
    </div>
</body>
</html>