{% extends 'base.html' %}
{% block content %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Profile </title>

    <style>
         @import url('https://fonts.googleapis.com/css?family=Poppins');

 body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  font-size: 16px;
}
 p {
     margin: 5px;
 }
    </style>
</head>

<body>

    <main>
        <div class="container" style="margin-top:70px; margin-left:50px;margin-bottom:150px; padding:10px;">
            <div class="profile_pic"> <img src="{{ user.profile.image.url }}" style="margin:20px; height:250px; width:250px; border:2px solid black"></div>
            <p><b>Username</b></p>
            <p>{{ user.username|title }}</p>
            <b><p>Bio</p></b>
            <p>{{ user.profile.bio|title }}</p>
            <b><p>Email</p></b>
            <p>{{ user.email }}</p>
            <b><p>Phone number</p></b>
            <p>{{ user.profile.phone }}</p>

        </div>
    </main>
</body>
</html>
{% endblock %}