
{% block content %}
<html>

<body>
    <div class="detail">
        <h1>DETAIL PAGE</h1>
        <h3 id="fh3">{{ question.title }}</h3>
        <hr>
        <h6 id="fh6">{{ question.content|safe }}</h6>
        <hr>
        <h6 id="fh6" style="font-size: 10px; font-style: italic; color: rgb(155, 155, 155);">Asked By: <a href="{% url 'profile' %}">{{ question.user }}</a>&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; On: {{question.date_created|date:"j F, Y"}}</h6>
        
    </div>
</body>

</html>
{% endblock %}